<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tecnho Project</title>
    <script src="./vue.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
</head>

<body>

    <div id="app">

        <header class="header">
            <img class="header__logo" src="./assets/techno.svg" alt="">
            <div class="carrinho__menu" @click="carrinhoActive = true">
                {{carrinhoTotal | numeroPreco}} | {{carrinho.length}}
            </div>
        </header>

        <section v-if="produto" class="modal" @click="closeModal">
            <div class="modal__container">
                <div class="modal__img">
                    <img :src="produto.img" :alt="produto.nome">
                </div>

                <div class="modal__info">
                    <button @click="produto = false" class="modal_close">X</button>
                    <span class="modal_preco">{{produto.preco | numeroPreco}}</span>
                    <h2 class="modal_nome">{{produto.nome}}</h2>
                    <p>{{produto.descricao}}</p>
                    <button v-if="produto.estoque > 0" @click="addCarrinho" class="modal_btn">Adicionar Item</button>
                    <button v-else class="modal_btn estogotado" disabled>Produto Esgotado</button>
                </div>

                <div class="reviews">
                    <h2 class="review_subtitulo">Avaliações</h2>
                    <ul>
                        <li v-for="avaliacao in produto.reviews" class="review__list">
                            <p class="review_descricao">{{avaliacao.descricao}}</p>
                            <p class="review_usuario">{{avaliacao.nome}} | {{avaliacao.estrelas}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="produtos">
            <div v-for="item in produtos" :key="item.id" @click="openModal(item.id)" class="produto">
                <img :src="item.img" :alt="item.nome" class="produto__img">
                <div class="produto__info">
                    <span class="produto__preco">{{item.preco | numeroPreco}}</span>
                    <h2 class="produto__nome">{{item.nome}}</h2>
                </div>
            </div>
        </section>

        <section class="carrinho__modal" :class="{ativo: carrinhoActive}" @click="clickForaCarrinho">
            <div class="carrinho__container">
                <button class="carrinho__close" @click="carrinhoActive = false">X</button>
                <h2 class="carrinho__titulo">Carrinho</h2>
                <div v-if="carrinho.length > 0">
                    <ul class="carrinho__list">
                        <li class="carrinho__item" v-for="(item, index) in carrinho">
                            <p>{{item.nome}}</p>
                            <p class="carrinho__preco">{{item.preco | numeroPreco}}</p>
                            <button class="carrinho__remove" @click="removeCarrinho(index)">X</button>
                        </li>
                    </ul>
                    <p class="carrinho__total">Total: {{carrinhoTotal | numeroPreco}}</p>
                    <button class="carrinho__finalizar">Finalizar Compra</button>
                </div>
                <p v-else>O carrinho está vazio!</p>
            </div>
        </section>

        <div class="alerta" :class="{ativo: alertaActive}">
            <p class="alerta__message">{{mensagemAlerta}}</p>
        </div>

    </div>

    <script src="./app.js"></script>
</body>

</html>